#contact{
    background-color: rgb(65, 150, 179);
    background-blend-mode: color

}
body{
    background-image: url("data.jpg");
    background-color: #a8b4d4;
    background-size: default;
    
}
h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color:  rgb(65, 150, 179);
    border-radius: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

    li {
    float: left;
}

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    /* Change the link color to #111 (black) on hover */
    li a:hover {
    background-color: #333;
}
    .active {
    background-color: rgb(65, 150, 179);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
p{
    
    font-size:  40px;
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
 font-style: italic;
	 font-family: 'Squada One', cursive;
